---
layout: page
title: Conferences
permalink: /Conferences/
---
<!-- Slider Start -->

<style>

  
</style>

<section id="global-header">
<div class="conferences">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
        <h1>Conferences</h1>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>


<section id="conferences">
  <div class="container">
      <div class="row">
        <div class="col-md-12">

          <!--
          <div class="item">
            <h1>Future</h1>
          </div>
          <div class="item">
            {% for conference in site.data.fconferences %}
              <h2>{{ conference.title }}</h2>
                <p class="article">{{ conference.date }}, {{ conference.location }}</p>
            
            {% endfor %}
          </div>
        -->

        <div class="item">
          <h1>Past</h1>
        </div>
        <div class="item">
        {% for conference in site.data.pconferences %}
          <h2>{{ conference.title }}</h2>
            <p class="article">{{ conference.date }}, {{ conference.location }}</p>
      
        {% endfor %}
  </div>
  </div>
</div> 
</div>
</div>
</section>


<section id="button">
<div class="container">
  <div class="center">
<button onclick="topFunction()" id="myBtn" title="Go to top">Return to top</button>
</div>
</div>
</section>

