---
layout: page
title: Conferences
permalink: /Conferences/
---
<!-- Slider Start -->

<style>
  body {
    background-image: url('footer.jpg');
  } 
  
</style>

<section id="global-header">
<div class="conferences">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
        <h1>Conferences</h1>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<section id="conferences">
  <div class="background"> 
  <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Future</h1>
        <div class="item">
          {% for conference in site.data.fconferences %}
        <div>
      <h2>{{ conference.title }}</h2>
        <p class="info">{{ conference.date }}, {{ conference.location }}</p>
        </div>
          {% endfor %}
        </div>

        <h1>Past</h1>
      <div class="item">
        {% for conference in site.data.pconferences %}
      <div>
    <h2>{{ conference.title }}</h2>
      <p class="info">{{ conference.date }}, {{ conference.location }}</p>
  </div>
  {% endfor %}
  </div>
  </div>
</div> 
</div>
</div>
</section>

